.list {
	display: flex;
	column-gap: var(--gap);
	list-style: none;
}
.link {
	width: 20px;
	height: 20px;
}
.link > img {
	width: 100%;
	height: 100%;
	user-select: none;
}
@media (max-width: 640px) {
	.link {
		width: 24px;
		height: 24px;
	}
	.link > img {
		width: 24px;
		height: 24px;
	}
}
